/*
 *Name: John Creekmore
 *Description: A personal project for displaying my projects
 This file sets the settings for the cosmetics of this project
 */
 

 .body{
    background-color: #000000; /* This makes the whole background black */
    color: #ffffff; /* This makes all text in body white */
}
.table-borders {
    border: 12px dashed #159a34;
    color: #ffffff; /* This makes all text in table white */
}

#photo-styling {
    max-width: 100px;
    max-height: 100px;
    border: 2px outset green;
}